*.pyc
__pycache__/
*.py[cod]
*$py.class

AvesCostaRica/db.sqlite3
# django stuff
*.log
*.pot

env/
eb-virt/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
MyBlog/settings_dev.py
